body {
    text-align: center;
    background-color: lemonchiffon;         /* consider lemonchiffon  (A11y - color contrast vs black = 19.81 : 1)  */
    font-family: 'Boogaloo', cursive;                                           /* WORKS: lost font!! */
    margin: 0 0;
}

.scoreboard {
  font-size: 1.25em;
  display: inline block;
  text-align: center;
}
